#logo{
    height: 300px;
}
.carousel-container {
    width: 80%; 
    margin: 40px auto; 
    overflow: hidden; 
    overflow-x: scroll; 
    scroll-behavior: smooth; 
}


.slider {
  
    display: flex; 
    flex-wrap: nowrap; 
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.slider img {
    width: 300px; 
    
    height: 300px; 
    margin-right: 15px; 
    flex-shrink: 0;
}

@media print {
    body * {
        visibility: hidden;
    }
    #relatorio, #relatorio * {
        visibility: visible;
    }
    #logo{
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}